{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>{{ 'admin.analytics.title'|trans }}</h3>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <h5 class="subheader">{{ 'admin.analytics.subheader'|trans }}</h5>
    </div>
</div>
{% endblock %}
