{% extends "IllarraCoreBundle:Admin:layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <h3>{{ 'admin.dashboard.title'|trans }}</h3>
    </div>
</div>
{% endblock %}
