// Chosen fixes

.chosen-container {
    margin-bottom: $form-spacing;
    
    * {
        box-sizing: content-box;
    }
    
    .chosen-drop {
        background: #fdfdfd;
        //@include border-bottom-radius($inputBorderRadius);
        //@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
        border: $input-border-width $input-border-style $input-focus-border-color;
        border-top: 0;
    }
}

.chosen-container .chosen-results,
.chosen-container-multi .chosen-results {
    //@include border-bottom-radius($inputBorderRadius);
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    
    .highlighted {
        background: $primary-color;
    }
}

.chosen-container-single,
.chosen-container-multi {
    font-size: 1em;
}

.chosen-container-single .chosen-single,
.chosen-container-multi .chosen-choices {
    display: block;
    background: $input-bg-color;
    @include radius(0);
    height: auto;
    padding: .5em;
    line-height: normal;
    color: $input-font-color;
    border: $input-border-width $input-border-style $input-border-color;
    box-shadow: $input-box-shadow;
}

.chosen-container-single .chosen-single div b,
.chosen-container-single .chosen-single abbr,
.chosen-container-multi .chosen-choices .search-choice .search-choice-close {
    background: none;
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    font-size: inherit;
    margin: 0.5em 0;
    border: 0;
    
    &:before {
        color: $subheader-font-color;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        display: inline-block;
        speak: none;
        content: "\f078";
        cursor: pointer;
        //font-size: ms(0) - 1;
        //line-height: ms(0);
    }
}
.chosen-container-single .chosen-single-with-drop div b:before {
    content: "\f077";
}

.chosen-container-single {
    .chosen-single {
        //height: (ms(0) + ($formSpacing * 1.5)) - 2;
        
        abbr {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 30px;
            
            &:before {
                content: "\f00d";
                color: $alert-color;
            }
        }
    }
    
    .chosen-search input {
        margin: 5px 0;
        padding: 0 20px 0 5px;
        
        @media #{$small} {
            font-size: emCalc(16px);
        }
    }
    
    .chosen-default {
        color: $subheader-font-color;
    }
}

.chosen-container-multi {
    .chosen-choices {
        padding: 0.25em 0;

        li.search-field {
            padding: .25em;
            
            input[type="text"] {
                font-family: inherit;
                font-size: $input-font-size;
                color: $subheader-font-color !important;
                height: auto;
                margin: -1px .5em 0;
                padding: 0;
            }
        }
        
        li.search-choice {
            background: whitesmoke;
            @include box-shadow(none);
            @include radius($inputBorderRadius);
            border: 0;
            margin: .1em 0 .1em .35em;
            padding: .35em 24px .35em .5em;
            
            .search-choice-close {
                margin-left: 5px;
                font-size: inherit;
                top: -2px;
                
                &:before {
                    content: "\f00d";
                    color: $alert-color;
                }
            }
        }
    }
}

.chosen-container-active {
    .chosen-single,
    .chosen-choices {
        //@include border-bottom-radius(0);
    }
    
    .chosen-single-with-drop {
        border: $input-border-width $input-border-style $input-border-color;
    }
}
