// Chosen fixes

.chzn-container {
    margin-bottom: $formSpacing;
    
    * {
        box-sizing: content-box;
    }
    
    .chzn-drop {
        background: #fdfdfd;
        //@include border-bottom-radius($inputBorderRadius);
        //@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
        border: $inputBorderWidth $inputBorderStyle $inputBorderColor;
        border-top: 0;
    }
}

.chzn-container .chzn-results,
.chzn-container-multi .chzn-results {
    //@include border-bottom-radius($inputBorderRadius);
    margin: 0 4px 4px 0;
    max-height: 240px;
    padding: 0 0 0 4px;
    
    .highlighted {
        background: $primary-color;
    }
}

.chzn-container-single .chzn-single,
.chzn-container-multi .chzn-choices {
    display: block;
    background: $inputBgColor;
    @include radius($inputBorderRadius);
    //@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
    //line-height: (ms(0) + ($formSpacing * 1.5)) - 1;
    font-size: $inputFontSize;
    color: $inputFontColor;
    border: $inputBorderWidth $inputBorderStyle $inputBorderColor;
}


.chzn-container-single .chzn-single div b,
.chzn-container-single .chzn-single abbr,
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
    background: none;
    display: inline-block;
    position: static;
    width: auto;
    height: auto;
    font-size: inherit;
    
    &:before {
        color: $subheader-font-color;
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        text-decoration: inherit;
        display: inline-block;
        speak: none;
        content: "\f078";
        margin-left: 0;
        cursor: pointer;
        //font-size: ms(0) - 1;
        //line-height: ms(0);
    }
}
.chzn-container-single .chzn-single-with-drop div b:before {
    content: "\f077";
}

.chzn-container-single {
    .chzn-single {
        //height: (ms(0) + ($formSpacing * 1.5)) - 2;
        
        abbr {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 30px;
            
            &:before {
                content: "\f00d";
                color: $alert-color;
            }
        }
    }
    
    .chzn-search input {
        margin: 5px 0;
        padding: 0 20px 0 5px;
        
        @media #{$small} {
            font-size: emCalc(16px);
        }
    }
    
    .chzn-default {
        color: $subheader-font-color;
    }
}

.chzn-container-multi {
    .chzn-choices {
        .search-field {
            padding: 1px 3px;
            
            input {
                font-family: inherit;
                font-size: $inputFontSize;
                color: $subheader-font-color
            }
        }
        
        .search-choice {
            background-image: none;
            //@include box-shadow(none);
            @include radius($inputBorderRadius);
            border: 0;
            padding: 3px 8px;
            margin-top: 5px;
            
            .search-choice-close {
                margin-left: 5px;
                
                &:before {
                    content: "\f00d";
                    color: $alert-color;
                }
            }
        }
    }
}

.chzn-container-active {
    .chzn-single,
    .chzn-choices {
        //@include border-bottom-radius(0);
    }
    
    .chzn-single-with-drop {
        border: $inputBorderWidth $inputBorderStyle $inputBorderColor;
    }
}
