.illarra-admin-toolbar {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 250px;
    height: 300px;
    overflow: scroll;
    background-color: #fafafa;
    border: 1px solid #eee;
    z-index: 99999;
}

.illarra-admin-toolbar-flyer {
    border-radius: 5px;
    border: 1px dashed #dd0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99999;
    background-color: rgba(255,255,0,0.5)
}